.angular-slider-range {
    border: solid 1px #999999;
    border-radius: 3px;
    background: #b3b3b3;
    margin-left: 7.5%;
    width: 85%;
    height: 25px;
}

.angular-slider-handle {
    border: solid 1px #999999;
    border-radius: 3px;
    background: #dddddd;
    cursor: pointer;
    margin-top: -6px;
    position: absolute;
    width: 35px;
    height: 35px;
}

.angular-slider-value {
    float: left;
    margin: 50px 0 0 50px;
    font-size: 20px;
}

.angular-slider-tick {

}