<div class="jumbotron">
    <div class="slider-container">
        <h3>Empty Slider: Only Default Values</h3>
        <angular-custom-range-slider></angular-custom-range-slider>
    </div>
    <div class="slider-container">
        <h3>Simple Slider: 1 Handle
            <div>
                (<span ng-repeat="sliderValue in simpleSliderValues">{{sliderValue.displayValue}}<span ng-if="!$last">, </span></span>)
            </div>
        </h3>
        <angular-custom-range-slider min="1000" max="2000" handle-values="simpleSliderValues" show-values show-ticks
                        is-valid-formatted_value="isValidFormattedValue(value)" formatted-to-tick="formattedToTick(value)"
                        tick-to-formatted="tickToFormatted(value)"></angular-custom-range-slider>
        <input class="slider-button-reset" type="button" value="Reset Handles" ng-click="resetHandles('simple')"/>
    </div>
    <div class="slider-container">
        <h3>Range Slider: 2 Handles
            <div>
                (<span ng-repeat="sliderValue in rangeSliderValues">{{sliderValue.displayValue}}<span ng-if="!$last">, </span></span>)
            </div>
        </h3>
        <angular-custom-range-slider min="20" max="80" handle-values="rangeSliderValues" show-values show-ticks
                        is-valid-formatted_value="isValidFormattedValue(value)" formatted-to-tick="formattedToTick(value)"
                        tick-to-formatted="tickToFormatted(value)"></angular-custom-range-slider>
        <input class="slider-button-reset" type="button" value="Reset Handles" ng-click="resetHandles('range')"/>
    </div>
    <div class="slider-container">
        <h3>Complex Range Slider: 3 Handles
            <div>
                (<span ng-repeat="sliderValue in complexRangeSliderValues">{{sliderValue.displayValue}}<span ng-if="!$last">, </span></span>)
            </div>
        </h3>
        <angular-custom-range-slider min="20" max="80" handle-values="complexRangeSliderValues" show-values show-ticks
                        is-valid-formatted_value="isValidFormattedValue(value)" formatted-to-tick="formattedToTick(value)"
                        tick-to-formatted="tickToFormatted(value)"></angular-custom-range-slider>
        <input class="slider-button-reset" type="button" value="Reset Handles" ng-click="resetHandles('complex')"/>
    </div>
    <div class="slider-container">
        <h3>Very Complex Range Slider: 6 Handles
            <div>
                (<span ng-repeat="sliderValue in veryComplexRangeSliderValues">{{sliderValue.displayValue}}<span ng-if="!$last">, </span></span>)
            </div>
        </h3>
        <angular-custom-range-slider min="20" max="80" handle-values="veryComplexRangeSliderValues" show-values show-ticks
                        is-valid-formatted_value="isValidFormattedValue(value)" formatted-to-tick="formattedToTick(value)"
                        tick-to-formatted="tickToFormatted(value)"></angular-custom-range-slider>
        <input class="slider-button-reset" type="button" value="Reset Handles" ng-click="resetHandles('veryComplex')"/>
    </div>
</div>
