<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>

    <span class="slider-text">Slider</span>
    <div class="slider-container">
        <angular-slider ng-model="testData" min="20" max="80" step="5" value="sliderValue" show-ticks tick-format="tickFormat(value)"></angular-slider>
    </div>
</div>
