.angular-custom-range-slider {
    touch-action: none;
    -ms-touch-action: none;
}

.angular-custom-range-slider-range {
    touch-action: none;
    -ms-touch-action: none;
    border: solid 1px #999999;
    border-radius: 3px;
    background: #b3b3b3;
    margin-left: 7.5%;
    width: 85%;
    height: 25px;
}

.angular-custom-range-slider-handle {
    touch-action: none;
    -ms-touch-action: none;
    border: solid 1px #999999;
    border-radius: 3px;
    background: #dddddd;
    cursor: pointer;
    margin-top: -6px;
    position: absolute;
    width: 35px;
    height: 35px;
}

.angular-custom-range-slider-inner-range {
    background: #3233b3;
    height: 25px;
    position: absolute;
}

.angular-custom-range-slider-value {
    float: left;
    margin: 50px 0 0 12px;
    font-size: 16px;
    text-align: right;
}

.angular-custom-range-slider-first-value {
    margin-left: 0;
}

.angular-custom-range-slider-only-value {
    width: 25%;
}

.angular-custom-range-slider-invalid-value {
    border-color: #843534;
    color: #843534;
    outline-color: #ff8787;
}

.angular-custom-range-slider-values {
    margin-left: 7.5%;
    width: 85%
}

.angular-custom-range-slider-tick {
    position: absolute;
    margin-top: 10px;
}